<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<main>
  <div>
    <img 
      class="profile-avatar"
      src="<%= profile.avatar %>" 
      alt="<%= profile.name %>'s avatar"
    >
  </div>
  <h1>It's <%= isSelf ? "you" : profile.name %>!</h1>
  <div>Watchlist: </div>
  <ul>
    <% profile.watchlist.forEach(anime => { %>
      <li><%= anime.title %></li>
    <% }) %>
  </ul>
  <% if (isSelf) { %>
    <form id="add-watchlist" action="/profiles/<%= profile._id %>" method="POST">
      <select name="animeId">
        <% animeNotInWatchlist.forEach(anime => { %>
          <option value="<%= anime._id %>"><%= anime.title %></option>
        <% }) %>
      </select>
      <button type="submit">Add to Watchlist</button>
    </form>
  <% } %>
</main>

<%- include('../partials/footer') %>