<%- include('../partials/html-head') %>

<%- include('../partials/nav') %>

<main>
  <h1><%= title %></h1>
  <section>
    <div>Image:</div>
    <div>
      <img src="<%= anime.image %>">
    </div>
    <div>Title: </div>
    <div>
      <%= anime.title %>
      <% if (anime.owner.equals(user?.profile._id)) { %>
      <a href="/anime/<%= anime._id %>/edit">
        <button>Edit Anime Details</button>
      </a>
      <% } %>
    </div>
    <div>Release Year: </div>
    <div><%= anime.releaseYear %></div>
    <div>English Release Year: </div>
    <div><%= anime.englishReleaseYear %></div>
    <div>Cast: </div>
    <ul>
      <% anime.cast.forEach(voiceActor => { %>
        <li><%= voiceActor.name %> - <%= voiceActor.version %></li>
      <% }) %>
    </ul>
  </section>
  <% if (user) { %>
  <form id="add-performer" action="/anime/<%= anime._id %>/performers" method="POST">
    <select name="performerId">
      <% performersNotInCast.forEach(performer => { %>
        <option value="<%= performer._id %>"><%= performer.name %></option>
        <% }) %>
    </select>
    <button type="submit">Add to Cast</button>
  </form>
  <form id="add-to-watchlist" action="/profiles/<%= profile._id %>" method="POST">
  <button type="submit">Add to Watchlist</button>
  </form>
<% } %>
  <h2>Reviews</h2>
  <% if (anime.reviews.length) { %>
    <table>
      <thead>
        <tr>
          <th>Date</th>
          <th>Review</th>
          <th>Owner</th>
          <th>Rating</th>
          <th>Delete/Update</th>
          <th>Average Review</th>
        </tr>
      </thead>
      <tbody>
        <% let total = 0 %>
        <% anime.reviews?.forEach(review => { %>
          <% total += review.rating %>
          <tr>
            <td><%= review.createdAt.toLocaleDateString() %></td>
            <td><%= review.content %></td>
            <td><%= review.creator.name %></td>
            <td><%= review.rating %></td>
            <td>
              <% if (review.creator._id.equals(user?.profile._id)) { %>
                <form 
                action="/anime/<%= anime._id %>/reviews/<%= review._id %>?_method=DELETE" method="POST">
                  <button type="submit">Delete</button>
                </form>
                <a href="/anime/<%= anime._id %>/reviews/<%= review._id %>/edit" class="btn">Update</a>
              <% } %>
            </td>
          </tr>
        <% }) %>
        <tr>
          <td colspan="5"></td>
          <td>
            <strong><%= (total / anime.reviews.length).toFixed(1) %></strong>
          </td>
        </tr>
      </tbody>
    </table>
    <% } else { %>
      <h3>No Reviews Yet</h3>
    <% } %>
    <% if (user) { %>
    <form
    id="add-review-form"
    action="/anime/<%= anime._id %>/reviews"
    method="POST"
  >
    <label for="content-textarea">Review: </label>
    <textarea name="content" id="content-textarea"></textarea>
    <label for="rating-select">Rating: </label>
    <select name="rating" id="rating-select">
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5">5</option>
      <option value="6">6</option>
      <option value="7">7</option>
      <option value="8">8</option>
      <option value="9">9</option>
      <option value="10" selected>10</option>
    </select>
    <button type="submit">Add Review</button>
</form>
<% } %>
</main>

<%- include('../partials/footer') %>