<%- include('../partials/html-head') %>

<%- include('../partials/nav') %>

<main>
  <h1><%= title %></h1>
  <section>
    <div>Title: </div>
    <div>
      <%= anime.title %>
      <a href="/anime/<%= anime._id %>/edit">
        <button>Edit Anime Details</button>
      </a>
    </div>
    <div>Release Year: </div>
    <div><%= anime.releaseYear %></div>
    <div>English Release Year: </div>
    <div><%= anime.englishReleaseYear %></div>
    <div>Cast: </div>
    <ul>
      <% anime.cast.forEach(voiceActor => { %>
        <li><%= voiceActor.name %></li>
      <% }) %>
    </ul>
  </section>

  <form id="add-performer" action="/anime/<%= anime._id %>/performers" method="POST">
    <select name="performerId">
      <option value="<%= performer._id %>"><%= performer.name %></option>
    </select>
    <button type="submit">Add to Cast</button>
  </form>
  <h2>Reviews</h2>
  <% if (anime.reviews.length) { %>
    <table>
      <thead>
        <tr>
          <th>Date</th>
          <th>Review</th>
          <th>Rating</th>
        </tr>
      </thead>
      <tbody>
        <% let total = 0 %>
        <% anime.reviews.forEach(review => { %>
          <% total += review.rating %>
          <tr>
            <td><%= review.createdAt.toLocaleDateString() %></td>
            <td><%= review.content %></td>
            <td><%= review.rating %></td>
          </tr>
        <% }) %>
      </tbody>
    </table>
    <% } else { %>
      <h3>No Reviews Yet</h3>
    <% } %>
  <form
    id="add-review-form"
    action="/anime/<%= anime._id %>/reviews"
    method="POST"
  >
    <label for="content-textarea">Review: </label>
    <textarea name="content" id="content-textarea"></textarea>
    <label for="rating-select">Rating: </label>
    <select name="rating" id="rating-select">
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5">5</option>
      <option value="6">6</option>
      <option value="7">7</option>
      <option value="8">8</option>
      <option value="9">9</option>
      <option value="10" selected>10</option>
    </select>
    <button type="submit">Add Review</button>
</form>
</main>

<%- include('../partials/footer') %>